
.dropdown-menu {
    background-color: #191c24;
    color: #fff;
  }
  .dropdown-item {
    background-color: #191c24;
    color: #fff;
  }
  .dropdown-item:focus, .dropdown-item:hover {
    background-color: #2a2c2f;
    color: #fff;
  }