<div class="card card-scrollable">
    <div class="card-body">
        <h2 class="card-title">
            {{ 'screen.order.headings.orderDetails' | translate }}
        </h2>
        <div class="card-description">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>{{ 'screen.order.labels.productionTarget' | translate }}</td>
                            <td>{{ 'screen.order.labels.productionState' | translate }}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="orderData$ | async as order; else loadingOrderDetails">
                            <ng-container *ngIf="order; else noData">
                                <tr>
                                    <td>
                                        {{ order?.productionTarget }}
                                    </td>
                                    <td>
                                        {{ order?.productionState }}
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
        
        <ng-template #loadingOrderDetails>
            <tr class="loading-content">
                <td><div>&nbsp;</div></td>
                <td><div>&nbsp;</div></td>
            </tr>
        </ng-template>
        
        <ng-template #noData>
            <tr>
                <td colspan="2">{{ 'screen.order.messages.noDataFound' | translate }}</td>
            </tr>
        </ng-template>
    </div>
</div>